<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ForceRootPath" value="E:\Projects\MS.NET\CSharp\at.markusegger\Application\TheC64Disker\TheC64Disker\DiskImages" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
